.button-style{
    display: block;
    margin: 20px;
    width: 250px;
    border-radius: 9px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.36738445378151263) 100%);
}
.button-style:hover{
    transform: scale(1.02);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(218,194,194,0.19931722689075626) 72%, rgba(252,176,69,1) 100%);
}